<div class="container">
  <div class="row align-items-center">
    <div class="col-md-3">
      <div class="img">
        <img [src]="itemData?.imageCover" class="img-fluid">
      </div>
    </div>
    <div class="col-md-9">
      <div class="product-detials">
        <h1 class="h4">{{itemData?.title}}</h1>
        <h1 class="h4">{{itemData?.description}}</h1>
        <p class="text-main">{{itemData?.category?.name}}</p>
            <div class="d-flex justify-content-between">
              <span>{{itemData?.price}}EGP</span>
              <span><i class="fa-solid fa-star rating-color"></i>{{itemData?.ratingsAverage}}</span>
            </div>
        <button class="w-100 bg-main text-white btn" (click)="addToCart(itemData.id)">Add</button>
      </div>
    </div>
  </div>
</div>
